/basic-hf-chat-app/.idea
/basic-hf-chat-app/target
/rrb-ai-agent/.idea
/rrb-ai-agent/target
/simple-chat-ai/.idea
/simple-chat-ai/target
/simple-flux-chat-ai/.idea
/simple-flux-chat-ai/target
/about-me-helper-agent/target
/about-me-helper-agent/.idea
